# Database Configuration
DATABASE_NAME=game
DATABASE_VERSION=1098

# Asset Configuration
ASSET_BASE_URL=https://pub-731c9162b7da4ead9743fb831880fd77.r2.dev/data/sprites

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyAhLwsTXTQFF_nvYLs15R3TJH6AChIxN9E
FIREBASE_AUTH_DOMAIN=emperia-online.firebaseapp.com
FIREBASE_PROJECT_ID=emperia-online
FIREBASE_STORAGE_BUCKET=emperia-online.appspot.com
FIREBASE_MESSAGING_SENDER_ID=28744750453
FIREBASE_APP_ID=1:28744750453:web:YOUR_APP_ID

# Game Configuration
REQUIRED_FILES=Tibia.spr,Tibia.dat
FILE_VERSIONS_KEY=file_versions 