<!-- Offer Item Modal -->
<div id="offer-modal" class="modal">
  <button class="close-button-transparent symbol-button" action="cancel" value="Cancel">✕</button>
  <div class="modal-header">Trade Offers</div>
  <div class="modal-body">
    <div class="tab-flex">
      <button class="offer-tab selected" id="set-sell">Sell Offers</button>
      <button class="offer-tab" id="set-buy">Buy Offers</button>
    </div>
    <div class="offers"></div>
    <div id="offer-info">
      <div id="buy-count-wrapper" style="display: none;">
        Amount:
        <span id="offer-count"></span>
        <input type="range" class="slider" id="buy-count" min="1" max="100">
      </div>
      <div id="offer-name-wrapper">
        <span id="offer-name"></span>
        <img src="png/gc.png"></img>
        <span id="offer-price"></span>
      </div>
    </div>
    <hr>
    <!-- Buttons aligned to the right -->
    <div class="modal-footer">
      <button action="cancel" value="Cancel">Cancel</button>
      <button action="confirm" value="Ok">Confirm</button>
    </div>
  </div>
</div>