<!-- Readable Modal -->
<div id="readable-modal" class="modal">
    <button class="close-button-transparent symbol-button" action="cancel" value="Cancel">✕</button>
    <div class="modal-header">Title</div>
    <div class="modal-body">
      <div style="position: relative;">
        <textarea id="book-text-area"></textarea>
        <!-- Transparent pane above text-area: disabled elements do not register mouseup events.. -->
        <div style="background-color: none; width: 100%; height: 260px; position: absolute; top: 0px;"></div>
      </div>
      <hr>
      <div class="modal-footer">
        <button action="cancel" value="Cancel">Close</button>
      </div>
  </div>
</div>