html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: Verdana, "Sans-Serif";
  overflow: hidden;
  box-sizing: border-box;
}

#game-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#game-container, #game-container canvas {
  width: 100%;
  height: 100%;
}
#game-container canvas {
  display: block;         /* removes default inline gap */
  image-rendering: pixelated;
}

#debug-statistics {
  z-index: 1000;
  margin: 8px;
  position: absolute;
  font-size: 10px;
  left: 0px;
  top: 0px;
}

#root, #root * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  caret-color: transparent;
}

#root img, #root svg, #root canvas {
  -webkit-user-drag: none;
}