html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: Verdana, "Sans-Serif";
  overflow: hidden;
}

#game-container {
  height: 100%;
  width: 100%;
  position: relative;
}

#debug-statistics {
  z-index: 1000;
  margin: 8px;
  position: absolute;
  font-size: 10px;
  left: 0px;
  top: 0px;
}