#login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background-image: url('/png/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#login-inner {
  position: relative;
  width: 640px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-settings {
  position: absolute;
  left: 32px;
  bottom: 32px;
  width: 116px;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 12px;
  border: 1px solid black;
}

.login-settings button {
  margin: 4px;
  width: 108px;
  height: 32px;
}

.login-version {
  position: absolute;
  top: 2px;
  left: 2px;
  color: white;
}
