.oogwrap {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

#battle-window-target {
  display: none;
  align-items: center;
}

.battle-window-bar-wrapper span {
  flex: 1 1 auto;
  font-size: 10px;
}

.battle-window-target-stats-bar {
  flex: 1 1 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px;
}

.health {
  background: rgb(0, 255, 0);
  border: 1px solid black;
}

.battle-window-bar-wrapper {
  display: flex;
  flex-direction: column;
}

.mana {
  background: rgb(0, 0, 255);
  border: 1px solid black;
}

.battle-window-target-wrapper:hover {
  border: 1px solid white;
  cursor: pointer;
}

.battle-window-target-wrapper {
  display: flex;
  width: 100%;
  background-image: url("/png/bg2.png");
  margin: 1px;
  border: 1px solid black;
}

.battle-window-target-title {
  color: rgba(0, 255, 0);
}

.battle-window-target-canvas {
  flex: 0 1;
}

.battle-window-target-canvas > canvas {
  width: 64px;
  height: 64px;
}

.battle-window-target-stats {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-left: 4px;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.zone-sub {
  font-size: 24px;
  color: white;
  font-family: Goudy Old Style;
}

.zone-title {
  font-variant: small-caps;
  font-family: Arno Pro;
  letter-spacing: 5px;
}

/* Old notification styles removed - now handled by React NotificationManager */

.checkboxes {
  display: flex;
  justify-content: center;
}

.checkboxes label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  flex: 1 1 auto;
}

.checkboxes input {
  vertical-align: middle;
}

.checkboxes label span {
  vertical-align: middle;
}

.close-button-transparent:hover {
  font-weight: bold;
  color: grey;
  border: none;
  box-shadow: none;
}

.close-button-transparent {
  position: absolute;
  right: 6px;
  border: 0px;
  background: none;
}

.close-button {
  position: absolute;
  right: 6px;
}

#game-wrapper {
  position: relative;
  overflow: hidden;
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

#clock-time {
  font-size: 10px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.main .upper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  background-image: url("/png/bg.png");
}

.main .lower {
  height: 100%;
  background-image: url("/png/bg2.png"); 
  overflow-x: auto;
  max-height: 140px;
  flex: 1 1 auto;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.canvas-notification {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 2px;
  width: 100%;
  z-index: 8000;
}

.stack-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.stack-top {
  flex: 0 0 auto;
  height: 256px;
  overflow: auto;
}

#debug-statistics {
  z-index: 1000;
  margin: 8px;
  position: absolute;
  font-size: 10px;
  left: 0px;
  top: 0px;
}