<!-- Ambient Music -->
<audio id="rain" src="data/sounds/rain.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="field" src="data/sounds/field.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="cave" src="data/sounds/cave.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="forest" src="data/sounds/forest.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="wind" src="data/sounds/wind.ogg" preload="auto" type="audio/ogg"></audio>

<!-- Sound bits -->
<audio id="thunder-1" src="data/sounds/thunder1.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="thunder-2" src="data/sounds/thunder2.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="thunder-3" src="data/sounds/thunder3.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="thunder-4" src="data/sounds/thunder4.ogg" preload="auto" type="audio/ogg"></audio>

<!-- Sound bits -->
<audio id="grass-1" src="data/sounds/grass1.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-2" src="data/sounds/grass2.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-3" src="data/sounds/grass3.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-4" src="data/sounds/grass4.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-5" src="data/sounds/grass5.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-6" src="data/sounds/grass6.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-7" src="data/sounds/grass7.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-8" src="data/sounds/grass8.ogg" preload="auto" type="audio/ogg"></audio>

<audio id="wood-2" src="data/sounds/wood2.ogg" preload="auto" type="audio/ogg"></audio> 