<!-- The Slot Prototype -->
<div style="display: none;">
  <div id="slot-prototype" class="slot">
    <canvas width="32" height="32"></canvas>
    <span class="count">
  </div>
</div>

<!-- The Floating Element Prototype -->
<div id="floating-element-prototype" class="prototype text-window">
  <span></span>
</div>

<!-- The Message Element Prototype -->
<div id="message-element-prototype" class="prototype text-window text-bubble">
  <span></span>
  <br>
  <span></span>
</div>

<!-- The Character Element Prototype -->
<div id="character-element-prototype" class="prototype text-window">
  <span></span>
  <div class="character-element-bar">
    <div class="value-health"></div>
  </div> 
</div>

<!-- The Spellbook Wrapper Prototype -->
<div id="spellbook-wrapper-prototype" class="spellbook-wrapper">
  <canvas></canvas>
  <span></span>
</div> 