<link rel="stylesheet" type="text/css" href="./css/context-menu.css">

<!-- The Container Prototype -->
<div id="container-prototype" class="prototype window">
  <div class="header">
    <button class="symbol-button small" action="close" title="Close">✕</button>
    <button class="symbol-button small" action="minimize" title="Minimize">&#x2212</button>
    <span class="title"></span>
  </div>
  <div class="body"></div>
  <div class="footer"></div>
</div>

<!-- The Context Menu's -->
<div class="contextmenu modal" id="screen-menu">
  <div class="menu-header">Menu</div>
  <button action="look">Look</button>
  <br><button action="use">Use</button>
</div>

<!-- Menu for chat header -->
<div class="contextmenu modal" id="chat-header-menu">
  <div class="menu-header">Menu</div>
  <button action="close">Close</button>
</div>

<!-- Menu for chat entry -->
<div class="contextmenu modal" id="hotbar-menu">
  <div class="menu-header">Menu</div>
  <button action="add">Add</button>
  <button action="remove">Remove</button>
</div>

<!-- Menu for chat entry -->
<div class="contextmenu modal" id="chat-entry-menu">
  <div class="menu-header">Menu</div>
  <button action="whisper">Whisper</button>
</div>

<!-- Menu for chat entry -->
<div class="contextmenu modal" id="chat-body-menu">
  <div class="menu-header">Menu</div>
  <button action="clear">Clear Chat</button>
</div>