<!-- Ambient Music -->
<audio id="rain" src="sounds/rain.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="field" src="sounds/field.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="cave" src="sounds/cave.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="forest" src="sounds/forest.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="wind" src="sounds/wind.ogg" preload="auto" type="audio/ogg"></audio>

<!-- Sound bits -->
<audio id="thunder-1" src="sounds/thunder1.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="thunder-2" src="sounds/thunder2.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="thunder-3" src="sounds/thunder3.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="thunder-4" src="sounds/thunder4.ogg" preload="auto" type="audio/ogg"></audio>

<!-- Sound bits -->
<audio id="grass-1" src="sounds/grass1.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-2" src="sounds/grass2.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-3" src="sounds/grass3.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-4" src="sounds/grass4.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-5" src="sounds/grass5.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-6" src="sounds/grass6.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-7" src="sounds/grass7.ogg" preload="auto" type="audio/ogg"></audio>
<audio id="grass-8" src="sounds/grass8.ogg" preload="auto" type="audio/ogg"></audio>

<audio id="wood-2" src="sounds/wood2.ogg" preload="auto" type="audio/ogg"></audio> 