<link rel="stylesheet" type="text/css" href="./css/topbar.css">

<div id="top-button-bar">
    <div class="icon-button" title="Logout (Ctrl+G)"> <img id="logout-button" src="png/icons/logout.png" /> <span class="shortcut">Ctrl+G</span> </div>
    <div class="icon-button" title="Settings (Ctrl+O)"> <img id="openSettings" src="png/icons/config.png" /> <span class="shortcut">Ctrl+O</span> </div>
    <div class="icon-button" title="Stats (Ctrl+K)"> <img id="openSkills" src="png/icons/status.png" /> <span class="shortcut">Ctrl+K</span>  </div>
    <div class="icon-button" title="Battle (Ctrl+B)"> <img id="openBattle" src="png/icons/battle.png" /> <span class="shortcut">Ctrl+B</span> </div>
    <div class="icon-button" title="Outfit (Ctrl+U)"><img id="openOutfit" src="png/icons/outfit.png" /><span class="shortcut">Ctrl+U</span></div>
    <div class="icon-button" title="Friends (Ctrl+F)"><img id="openFriends" src="png/icons/friends.png" /><span class="shortcut">Ctrl+F</span></div>
    <div class="icon-button" title="Inventory (Ctrl+I)"><img id="openInventory" src="png/icons/inventory.png" /><span class="shortcut">Ctrl+I</span></div>
    <div class="icon-button" title="Map (Ctrl+M)"><img id="openMap" src="png/icons/map.png" /><span class="shortcut">Ctrl+M</span></div>
</div>