<div class="chatbox-wrapper">
       
    <!-- Header for all channels -->
    <div class="wrapper-header">
      <button id="left-channel" class="symbol-button-long">&#129092;</button>
      <div id="cheader" class="chat-header"></div>
      <button id="right-channel" class="symbol-button-long">&#129094;</button>
      <button id="open-chat-modal" title="Open a new chat window" class="symbol-button-long">&#128172;</button>
    </div>   

    <!-- Chatbox area itself -->
    <div id="chat-text">
      <div id="chat-text-area" class="chat-body"></div>
    </div>

    <!-- Footer for sending chat messages etc.. -->
    <div class="chat-footer">
      <button id="chat-say-loudness" class="symbol-button-long">))</button>
      <input id="chat-input" type="text" placeholder="Press Enter to unlock.">
      <button id="send-chat-message" class="symbol-button-text">Send</button>
    </div>
</div>