<link rel="stylesheet" type="text/css" href="./css/login.css">

<!-- Wrapper for the login screen -->
<div id="login-wrapper">
    <div id="login-inner">

        <div class="modal-wrapper">

            <!-- Login Modal for Generic Text -->
            <div id="floater-connecting" class="modal">
                <div class="modal-header">Information</div>
                <div class="modal-body">
                <div style="text-align: center;"><span id="serve-feedback"></span></div>
                </div>
            </div>

            <!-- Login Modal for Connection Settings -->
            <div id="settings-box" class="modal">
                <div class="modal-header">Connection Settings</div>
                <div class="modal-body">
                <p> Login Server Address:
                <br><input style="text-align: center;" id="host" value="127.0.0.1:1338" placeholder="127.0.0.1:1338">
                <hr>
                <button id="clear-database" onclick="gameClient.database.clear()">Reset Client</button>
                <div class="modal-footer">
                    <button action="confirm">Close</button>
                </div>
                </div>
            </div>

            <!-- Login Modal for Information -->
            <div id="information-modal" class="modal">
                <div class="modal-header">Information</div>
                <div class="modal-body" style="text-align: center; max-width: 500px;">
                <p> Tibia Game Client and Game Server written in NodeJS/JavaScript.
                <hr>
                <img src="png/forby.png" style="width: 68px; heigiht: 68px;"></img>
                <hr>
                Load the required <b>Tibia.spr</b> and <b>Tibia.dat</b> files by clicking Load Assets. The asset versions must match the server version and both client/server support versions 7.4 and 10.98 but nothing in between.
                <p> Copyright by Forby, 2019 - 2022
                <hr>
                <div class="modal-footer">
                    <button action="confirm">Close</button>
                </div>
                </div>
            </div>

            <!-- Login Modal for Enter World -->
            <div id="floater-enter" class="modal">
                <div class="modal-header">Account Information</div>
                <div class="modal-body">
                <form>
                <p>Username:
                <br><input class="password-input" name='username' id="user-username" value="111111" type="text" placeholder="Account Name">
                <p>Password:
                <br><input class="password-input" name='password' id="user-password" value="tibia" type="password" placeholder="Account Password">
                </form>
                <hr>
                <div class="modal-footer">
                    <button id="enter-game" onclick="window.gameClient.interface.login()">Login</button>
                </div>
                </div>
            </div>

            <!-- Login Modal for Enter World -->
            <div id="floater-create" class="modal">
                <div class="modal-header">Create Account</div>
                <div class="modal-body">
                <p><input class="password-input" id="create-username" type="password" placeholder="Account Number">
                <p><input class="password-input" id="create-password" type="password" placeholder="Account Password">
                <p><input class="password-input" id="create-name" placeholder="Character Name">
                <p><select class="password-input" id="create-sex">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <hr>
                <div class="modal-footer">
                    <button action="confirm" id="create-account-close">Create Account</button>
                </div>
                </div>
            </div>

        </div>

    </div>

    <div class="login-version">
        Client Version: <span id="client-version"></span><br>
        Sprites:        <span id="sprites-loaded" style="color: red;">Missing</span><br>
        Objects:        <span id="data-loaded" style="color: red;">Missing</span>
    </div>
    
    <div class="login-settings">
        <button id="login-info">Enter Game</button>
        <button id="create-account">Create Account</button>
        <button id="load-assets">Load Assets</button>
        <button id="settings">Options</button>
        <button id="information">Information</button>
    </div>

</div>